{% load compress static wagtailuserbar wagtailsettings_tags navigation_tags settings_tags magrathea_utils %}
{% get_settings %}

<!DOCTYPE html>
<html lang="en">
  	<head>
    	<meta charset="utf-8" />
    	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    	<title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
    	<meta name="description" content="{% if self.search_description %}{{ self.search_description }}{% endif %}">
    	<meta name="viewport" content="width=device-width, initial-scale=1" />
    	<link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}"/>
    	{% block canonical_url %}{% endblock %}

		{% block cdn_css %}
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" />
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/css/lightbox.min.css" />
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.12/css/uikit.min.css" />
      {% endblock %}

		{% compress css %}
			<!-- <link rel="stylesheet" type="text/x-scss" href="{% static 'css/app.scss' %}"> -->
		{% endcompress %}

    	{% block extra_css %}{% endblock %}

    	{% block facebook_og %}
    		{% include "utils/includes/facebook_opengraph.html" %}
    	{% endblock %}

    	{% block twitter_og %}
    		{% include "utils/includes/twitter_cards.html" %}
    	{% endblock %}

		{% block google_analytics %}
    		{% include "utils/includes/google_analytics.html" %}
    	{% endblock %}
	</head>

  	<body class="{% block body_class %}{% endblock %}">
    	{% wagtailuserbar %}

    	{% get_site_root as site_root %}
    	{% top_menu parent=site_root calling_page=self %}


      {% block breadcrumbs %}
        {% breadcrumbs %}
      {% endblock %}

      {% block content %}{% endblock %}

		{% block cdn_js %}
  			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  			<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/js/lightbox.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/what-input/5.1.0/what-input.min.js"></script>

      <!-- UIkit JS -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.12/js/uikit.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.12/js/uikit-icons.min.js"></script>
  		{% endblock %}

  		{% compress js %}
  			<script type="text/javascript" src="{% static 'js/app.js' %}"></script>
  		{% endcompress %}

  		{% block site_js %}
  		{% endblock %}

  		{% block extra_js %}{% endblock %}
	</body>
</html>
