{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block content %}
  <article class="uk-article">
    <section class="uk-section-default">
      {% image self.hero_image fill-1280x160 as heroimg %}
      <div class="uk-section{% if self.hero_image %} uk-light{% endif %} uk-background-cover" style="{% if self.hero_image %}background-image: linear-gradient( rgba(34, 34, 34, 0.1), rgba(34, 34, 34, 0.8) ), url({{heroimg.url}});{% endif %}">
        <div class="uk-container">
          <h1 class="uk-heading-hero">{{ self.title }}</h1>
          <h2>{{ self.subtitle }}</h2>
          <div class="uk-text-lead">
            {{ self.lead | safe }}
          </div>
          <ul class="width-1-1" uk-tab="connect: .page-sections">
            {% block page_section_titles %}{% endblock %}
          </ul>
        </div>
      </div>
    </section>
    {% block concordance_content %}{% endblock %}
    <ul class="page-sections uk-switcher uk-switcher-container uk-margin">
      {% block page_sections %}{% endblock %}
    </ul>
  </article>
{% endblock %}
