{% extends "concordance/concordance_base.html" %}
{% load wagtailcore_tags %}
{% load app_filters %}

{% block page_section_titles %}
  <li class="uk-active"><a href="#">Article</a></li>
  <li><a href="#properties">Properties</a></li>
{% endblock %}

{% block page_sections %}
  <li>
    {% include_block self.body %}
  </li>
  <li>
    {% include "blocks/planetary_body_physical_characteristics_block.html" %}
    {% include "blocks/orbital_mechanics_orbital_characteristics_block.html" %}
    {% include "blocks/orbital_mechanics_rotational_characteristics_block.html" %}
  </li>
{% endblock %}
